*{
  border: 0;
  margin: 0;
  box-sizing: border-box;;
}
body, html {
  overflow-x: hidden;
}
html {
  overflow-y: scroll;
}
$midnight: #64696e;
$clouds: #ecf0f1;
$yolk: #f6d365;
$hardyolk: #f5a48d;
$harderyolk: #f3704c;
body{
  font-display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 85%;
  background-image: linear-gradient(180deg, $yolk, $yolk);
  min-height: 100vh;
}
.logo{
color: #2c3e50;
  text-decoration: none;
}
header a:hover{
  color: #2c3e50;
  text-decoration: none;
}
header a:focus{
  color: #2c3e50;
  text-decoration: none;
}
header,
.heading,
nav {
  display: flex;
  align-items: center;
}
nav{
float: right;
}
.heading{
  font-family:'Indie Flower', cursive;
  text-transform:lowercase;
  font-size: 2.5rem;
  margin-left: 0.5rem;
}
.active-style{
  color: #64696e;
  background: #ecf0f1;
  text-decoration: none;
}
.user-details{
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
header {
  justify-content: space-between;
  text-decoration:none;
}
nav ul a {
  font-family: 'Life Savers', cursive;
  text-transform:uppercase;
  color:$midnight;
  margin:0 15px;
  letter-spacing:1px;
  text-decoration:none;
}
nav ul a:hover, nav ul a:focus {
  text-decoration:none;
  color: $midnight; 
  background: $clouds;
}
.clear{
  clear: both;
}
.form-group {
  margin-bottom: 5px;
}
.form-control{
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.3rem 0.8rem;
  font-size: 100%;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0.3rem;
  font-weight: 700;
}
.custom-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-top: 1rem;
}
.component-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.custom-card{
  border: 0.05rem solid $midnight;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.1rem;
}
.detail-container{
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  flex-wrap: nowrap;
}
.col-detail-card{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}
.row-detail-card{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
}
.one {
  width: 38vw;
}

.two {
  width: 58vw;
}
.detail-header{
  background-color: $clouds;
  color: $midnight;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  text-transform: capitalize;
  padding: 0.5rem;
  font-size: medium;
}
form input{
  padding: 0.5rem;
  border: none;
  background: $clouds;
  font-family: 'Poppins', sans-serif;
}
.ti-btn{
  background: $harderyolk;
  color: $clouds;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 0.5rem;
}
.ti-btn:hover{
  color: $harderyolk;
  background: $clouds;
  cursor: pointer;
  transition: all 0.3s ease;
}
.type-list{
  list-style: none;
  min-width: 30vw;
}
.type{
  margin: 0.5rem;
  background: $clouds;
  color: $midnight;
  font-size: 1.5 rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.type li{
  flex: 1;
}
.trash-btn{
  background: $harderyolk;
  color:$clouds;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.trash-btn:hover{
  color: $harderyolk;
  background:$clouds;
}
.margin-auto{
  margin: auto;
}
.error-msg{
  padding: 0 1rem;
  color: white;
  background-color: red;
//animation: errorMsgFade 4s ease forwards;
}
.tag {
  display: inline;
  padding: .2rem .6rem .3rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .75rem;
  margin: 0.5rem;
  background-color: $midnight;
}
.head{
  width: 99vw;
  position: fixed;
  background-image: linear-gradient(120deg, $yolk, $yolk);
  top:0;
}
.push{
  margin-bottom: 11vh;
}
@keyframes errorMsgFade {
from{
  opacity: 1;
}
to{
  opacity: 0;
}
}
@media screen and (max-width: 768px) {
  body{
    font-size: 100%;
  }
  .row-detail-card{
    flex-direction: column;
  }
  .heading{
    font-size: 1.6rem;
  }
  nav ul a {
    letter-spacing:0px;
    margin:0 5px;
  }
  nav{
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll; 
    -webkit-overflow-scrolling: touch;
  }
  .ti-search{
    margin-top: 0.5rem;
  }
  .custom-card{
    width: 98vw;
    margin-left: 1.2rem;
    margin-right: 1.2rem
  }
  .detail-header{
    width: 97vw;
  }
  .head{
    width: 100vw;
  }
}