@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
$midnight: #64696e;
$clouds: #ecf0f1;
header,
.heading,
nav {
  display: flex;
  align-items: center;
}
nav{
  float: right;
}
.nav{
  min-height: 5vh;
}
.heading{
  font-family:'Indie Flower', cursive;
  text-transform:lowercase;
  font-size: 3rem;
  margin-left: 0.2em;
}
header {
  justify-content: space-between;
  text-decoration:none;
}
nav ul a {
  font-family: 'Life Savers', cursive;
  text-transform:uppercase;
  color:$midnight;
  margin:0 15px;
  letter-spacing:1px;
  text-decoration:none;
}
nav ul a:hover {
  text-decoration:none;
  color: $clouds; 
  background: $midnight;
}

.customContainer{
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 1rem;
}
.customCard{
  border: 0.1rem solid $midnight;
  border-radius: 1rem;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0.1rem;
}
.detailContainer{
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  flex-wrap: nowrap;
}
.colDetailCard{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}
.rowDetailCard{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
}
.one {
  width: 40vw;
  font-size: 0.8rem;
}

.two {
  width: 60vw;
  font-size: 0.8rem;
}
.btn{
  margin: 0.2rem;
}
.detailHeader{
  background-color: $midnight;
  color: $clouds;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  text-transform: capitalize;
  padding: 0.5rem;
}
.btn{
  color: #212529;
  background-color: #b3ac97;
  border-color: #b3ac97;
  border-radius: 2rem;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .rowDetailCard{
    flex-direction: column;
  }
  .heading{
    font-size: 2rem;
  }
  nav{
    overflow-x: scroll;
  }
  nav ul a {
    font-size: 0.8rem;
    letter-spacing:0px;
    margin:0 5px;
  }
}