*{
  border: 0;
  margin: 0;
  box-sizing: border-box;;
}
$midnight: #64696e;
$clouds: #ecf0f1;
$yolk: #f6d365;
$hardyolk: #f5a48d;
$harderyolk: #f3704c;
body{
  font-display: block;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(180deg, $yolk, $hardyolk);
  min-height: 100vh;
}
header,
.heading,
nav {
  display: flex;
  align-items: center;
}
nav{
  float: right;
}
.nav{
  min-height: 5vh;
}
.heading{
  font-display: block;
  font-family:'Indie Flower', cursive;
  text-transform:lowercase;
  font-size: 4rem;
  margin-left: 0.2em;
}
header {
  justify-content: space-between;
  text-decoration:none;
}
nav ul a {
  font-display: block;
  font-family: 'Life Savers', cursive;
  text-transform:uppercase;
  color:$midnight;
  margin:0 15px;
  letter-spacing:1px;
  text-decoration:none;
}
nav ul a:hover {
  text-decoration:none;
  color: $midnight; 
  background: $clouds;
}
.clear{
  clear: both;
}
.custom-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-top: 1rem;
}
.component-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.custom-card{
  border: 0.1rem solid $midnight;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0.1rem;
}
.detail-container{
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  flex-wrap: nowrap;
}
.col-detail-card{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}
.row-detail-card{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
}
.one {
  width: 38vw;
}

.two {
  width: 58vw;
}
.btn{
  margin: 0.2rem;
  color: black;
}
.detail-header{
  background-color: $clouds;
  color: $midnight;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  text-transform: capitalize;
  padding: 0.5rem;
  font-size: medium;
}
form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: $clouds;
}
form button{
  background: $harderyolk;
  color: $clouds;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  color: $harderyolk;
  background: $clouds;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-border-radius{
  border-radius: 5px;
}
.type-list{
  list-style: none;
  min-width: 30vw;
}
.type{
  margin: 0.5rem;
  background: $clouds;
  color: $midnight;
  font-size: 1.5 rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.type li{
  flex: 1;
}
.trash-btn{
  background: $harderyolk;
  color:$clouds;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.trash-btn:hover{
  color: $harderyolk;
  background:$clouds;
}
.margin-auto{
  margin: auto;
}
.error-msg{
  padding: 0 1rem;
  color: white;
  background-color: red;
}
.tag {
  display: inline;
  padding: .2rem .6rem .3rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .75rem;
  margin: 0.5rem;
  background-color: $midnight;
}
@media screen and (max-width: 768px) {
  .row-detail-card{
    flex-direction: column;
  }
  .heading{
    font-size: 2rem;
  }
  nav{
    overflow-x: scroll;
  }
  nav ul a {
    font-size: 0.8rem;
    letter-spacing:0px;
    margin:0 5px;
  }
}