.leftBtn{
    position: absolute;
    left: 5vw;
    top: 60vh;
    border-radius: 1rem;
    border: none;
  }
  
  .rightBtn{
    position: absolute;
    right: 5vw;
    top: 60vh;
    border-radius: 1rem;
    border: none;
  }






























































































