$harderyolk: #f3704c;
$clouds: #ecf0f1;

.leftBtn{
    left: 1vw;
  }
  
  .rightBtn{
    right: 1vw;
  }

  .carousel-arrow:focus {
    outline: none;
  }

  .carousel-arrow {
    position: absolute;
    color: $clouds;
    top: 40vh;
    cursor: pointer;
    background: none;
    border-radius: 50%;
    font-size: 1.6rem;
    height: 2rem;
    width: 2rem;
  }
  
  .carousel-arrow:hover {
    background-color: $clouds;
    color: $harderyolk;
  }

  p{
    font-weight: bold;
    overflow-wrap: break-word;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
  }

  @media screen and (max-width: 768px) {
    .carousel-arrow{
      top: 35vh;
    }
    .leftBtn{
      left: 0.05rem
    }
    .rightBtn{
      right: 0.05rem
    }
  }





























































































